# Writing style

- Avoid participle phrases.
- Use British English.
- Avoid long sentences.
- Avoid meaningless sentences and fillers.
- Pursue concision and directness.
- These dashes (--, ---) should either be removed or replaced with a single dash (-).
- Avoid capitalising too much.
- Avoid overuse of colons.

